In [4]:
# importing libraries
import pandas as pd

In [5]:
# reading data
df = pd.read_csv('employee.csv')

In [6]:
# head of the data
pd.set_option('max_columns', 35)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [7]:
# grouped the data by education field
grp_data = df.groupby(['EducationField'])[['Age','DailyRate','HourlyRate','MonthlyIncome']].agg('mean')

In [5]:
grp_data

                        Age   DailyRate  HourlyRate  MonthlyIncome
EducationField
Human Resources   37.037037  675.259259   60.888889    7241.148148
Life Sciences     37.107261  804.425743   66.831683    6463.288779
Marketing         37.924528  727.836478   66.150943    7348.584906
Medical           36.838362  822.799569   65.280172    6510.036638
Other             35.365854  796.024390   62.365854    6071.548780
Technical Degree  36.121212  842.128788   66.621212    5758.303030

### Pandas Styling

In [8]:
# highlighting the maximum value in each column
grp_data.style.highlight_max(color = 'darkgreen')

In [9]:
# using method chains to highlight the max and min value
grp_data.style.highlight_max(color = 'darkgreen').highlight_min(color = 'yellow')

In [10]:
grp_data.style.background_gradient(cmap = 'Greens')

In [11]:
# method chains to hide the index as well
grp_data.style.background_gradient(cmap = 'Greens').hide_index()